- hosts: master
  become_user: kube
  tasks:

    - name: deploying HPA my_app
      shell: kubectl delete deploy,svc,hpa "{{ item }}"
      with_items: 
        - blue
        - green
      ignore_errors: yes

